.container {
  width: 1200px;
  background-color: #F4CE67;
  border-radius: 20px;
  padding: 25px;
  margin-top: 30px;
}

.subtitle {
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 500;
}

.weekDatesWeather {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.weekOfWeek {
  display: flex;
  flex-direction: column;
}

.dateWeek {
  margin: 0;
  padding: 76px 0;
  border-bottom: 1px solid gray;
}

.dateWeek:nth-child(5) {
  border-bottom: none;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
}

.weatherInfo {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
  border-bottom: 1px solid gray;
}

.weatherImage {
  border-radius: 15px;
}

.weatherContainer > div:nth-child(5) {
  border-bottom: none;
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .container {
    width: 650px
  }
  .weatherInfo {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 320px;
  }
  .weatherInfo {
    width: 290px;
  }
  .weatherInfo > p {
    font-size: 10px;
  }
  .dateWeek {
    font-size: 12px;
    padding: 58px 0;
  }
  .weatherImage {
    width: 60px;
    height: 50px;
  }
}